.front-blocks {
  background: #fff;
  @include clearfix;
  padding: 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  @include breakpoint($tablet, $no-query:'.no-mq') {
    display: inline-block;
    width: 30%;
    margin: 0 1.5%;
    vertical-align: top;

  }
  .front-block-content {
    padding: 0em 2em 1em;
  }
}

.front-postscript {
  background:#fff;
  text-align: center;
  padding: 3em 1em;
  .sponsor-wrap {
    max-width: 1200px;
    margin: 0 auto;
  }
  h2 {
    text-transform: uppercase;
    font-size: 20px;
    color: #8F8F8F;
    letter-spacing: 1.59px;
    margin-bottom: 2em;
  }
  img {
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    padding: 1.5em 0;
    margin: 0 1.5em .5em;
  }
}