<div class="footer-wrapper">
  <footer role="contentinfo" class="wrap top clearfix">
    <div class="footer-block footer-block-1">
      <img src="/assets/images/footer-logo.png" />
      <img src="/assets/images/GoodGiving_Button_2016.png" />
      <p>Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} All Rights Reserved.</p>
    </div>
    <div class="footer-block footer-block-2">
      <h3>CONTACT US</h3>
      <p>PO Box 8578  <br>
        Lexington, KY 40533</p>
      <p>Phone: 859.246.0046 <br>
      Spanish Line: 859.475.5858 <br>
      Fax: 859.246.1752</p>
    </div>
    <div class="footer-block footer-block-3">
      <h3>VOLUNTEER</h3>
      <p><a href="/volunteer/">Become a Volunteer</a></p>
    </div>
    <div class="footer-block footer-block-4">
      <h3>DONATIONS</h3>
      <p><a href="/donate/">Donation Information</a></p>
      <p><a href="/donate/">Donate Today</a></p>
    </div>
  </footer>
</div>