.logo {
  width: calc(100% - 80px);
  padding: 1em 1em 3em;
  @include breakpoint($tablet, $no-query:'.no-mq') {
    padding: 2em 0;
    width: 100%;
  }
  img {
    display: block;
    margin: 0;
    max-width: 175px;
    @include breakpoint($tablet, $no-query:'.no-mq') {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      width: 100%;
    }
  }
}
