.footer-wrapper {
  @include clearfix;
  background-color: #181B1F;
  width: 100%;
}

footer {
  font-size: 95%;
  margin: 0 auto;
  .left {
    a {
      display: inline-block;
      margin-right: .5em;
      margin-bottom: 1em;
    }
    @include breakpoint($tablet, $no-query: '.no-mq') {
      @include grid-span(6, 1, $gutter: 0);
    }
  }
  .right {
    @include breakpoint($tablet, $no-query: '.no-mq') {
      @include grid-span(6, 7, $gutter: 0);
        text-align: right;
    }
  }
}
