.wrap {
  margin: 0 auto;
  max-width: $container_width;
  @include breakpoint($tablet, $no-query: ".no-mq") {
  }
}

main {
  @include clearfix;
  display: block;
  @include breakpoint($tablet, $no-query: ".no-mq") {
     @include grid-span(8.5,1);
  }
}
.sidebar {
  @include breakpoint($tablet, $no-query: ".no-mq") {
     @include grid-span(3.5,9.5);
  }
}

.content-wrapper {
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  padding: 2em 1em;
  @include clearfix;
  @include breakpoint($tablet, $no-query: ".no-mq") {
    padding: 2em;
  }
}

.preface {
  padding: 3em 0;
}