.wrap {
  margin: 0 auto;
  max-width: $container_width;
  @include breakpoint($tablet, $no-query: ".no-mq") {
  }
}

main {
  @include clearfix;
}


.content-wrapper {
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  padding: 2em 1em;
  @include breakpoint($tablet, $no-query: ".no-mq") {
    padding: 2em;
  }
}

.preface {
  padding: 2em 0;
}