---
layout: default
---
<div class="header-image-section header-image-section--front">
  <div class="wrap">
    <div class="home-intro editable">
      <h1>HOW IT WORKS.</h1>
      <p>Surgery on Sunday, Inc. works closely with community partners to provide essential outpatient surgical procedures to income-eligible individuals. Patients are referred to Surgery on Sunday, Inc. by numerous partner agencies.</p>
      <a href="/about" class="btn">Learn More</a>
    </div>
  </div>
</div>
<div class="preface">
  <div class="wrap"> 
    <div class="front-blocks editable">
      <img src="/uploads/home/need-help.jpg">
      <div class="front-block-content">
        <h3>Need Help?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare varius odio, ac bibendum lectus cursus non. Proin at iaculis lorem, sed ultricies diam. Quisque non lectus commodo sapien tincidunt ornare. Duis ultrices ullamcorper elit ac malesuada. Morbi eu sodales elit.</p>
        <a href="#" class="btn">Learn More</a>
      </div>
    </div>
    <div class="front-blocks editable">
      <img src="/uploads/home/donate.jpg">
      <div class="front-block-content">
        <h3>Donate</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare varius odio, ac bibendum lectus cursus non. Proin at iaculis lorem, sed ultricies diam. Quisque non lectus commodo sapien tincidunt ornare. Duis ultrices ullamcorper elit ac malesuada. Morbi eu sodales elit.</p>
        <a href="#" class="btn">Learn More</a>
      </div>
    </div>
    <div class="front-blocks editable">
      <img src="/uploads/home/testimonials.jpg">
      <div class="front-block-content">
        <h3>Testimonials</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare varius odio, ac bibendum lectus cursus non. Proin at iaculis lorem, sed ultricies diam. Quisque non lectus commodo sapien tincidunt ornare. Duis ultrices ullamcorper elit ac malesuada. Morbi eu sodales elit.</p>
        <a href="#" class="btn">Learn More</a>
      </div>
    </div>
  </div>
</div>


<div class="postscript front-postscript">
  <div class="sponsor-wrap editable"> 
     <h2>Our Partners</h2>
     <img src="/uploads/partners/amazon.png" />
     <img src="/uploads/partners/BereaCollege.jpg" />
     <img src="/uploads/partners/FrancisHollisBrain.png" />
     <img src="/uploads/partners/GoodSam.jpg" />
     <img src="/uploads/partners/KOH.png" />
     <img src="/uploads/partners/Kroger.jpg" />
     <img src="/uploads/partners/KYColonel.png" />
     <img src="/uploads/partners/LMS.png" />
     <img src="/uploads/partners/Toyota.jpg" />
  </div>
</div>

