---
layout: default
---
<div class="header-image-section header-image-section--front"></div>
<div class="preface">
  <div class="wrap"> 
    <div class="front-blocks editable">
      <img src="/uploads/home/need-help.jpg">
      <div class="front-block-content">
        <h3>Need Help?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare varius odio, ac bibendum lectus cursus non. Proin at iaculis lorem, sed ultricies diam. Quisque non lectus commodo sapien tincidunt ornare. Duis ultrices ullamcorper elit ac malesuada. Morbi eu sodales elit.</p>
        <a href="#" class="btn">Learn More</a>
      </div>
    </div>
    <div class="front-blocks editable">
      <img src="/uploads/home/donate.jpg">
      <div class="front-block-content">
        <h3>Donate</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare varius odio, ac bibendum lectus cursus non. Proin at iaculis lorem, sed ultricies diam. Quisque non lectus commodo sapien tincidunt ornare. Duis ultrices ullamcorper elit ac malesuada. Morbi eu sodales elit.</p>
        <a href="#" class="btn">Learn More</a>
      </div>
    </div>
    <div class="front-blocks editable">
      <img src="/uploads/home/testimonials.jpg">
      <div class="front-block-content">
        <h3>Testimonials</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare varius odio, ac bibendum lectus cursus non. Proin at iaculis lorem, sed ultricies diam. Quisque non lectus commodo sapien tincidunt ornare. Duis ultrices ullamcorper elit ac malesuada. Morbi eu sodales elit.</p>
        <a href="#" class="btn">Learn More</a>
      </div>
    </div>
  </div>
</div>

<div class="content-wrapper wrap">
  <main>
    <h2>Our Partners</h2>
  {{ content }}
  </main>
</div>


<div class="postscript">
  <div class="wrap"> 
   
  </div>
</div>

